# No whitespace after the comma or in your part name!
config SHIELD_ESSENCE_LEFT
    def_bool $(shields_list_contains,essence_left)

# No whitespace after the comma or in your part name!
config SHIELD_ESSENCE_RIGHT
    def_bool $(shields_list_contains,essence_right)

# No whitespace after the comma or in your part name!
config SHIELD_ESSENCE_DONGLE
    def_bool $(shields_list_contains,essence_left_dongle)
