if SHIELD_ESSENCE_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Essence"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ESSENCE_LEFT || SHIELD_ESSENCE_RIGHT

config ZMK_SPLIT
    default y

endif
